<div class="bg-white rounded-3 p-3">
<div class="container">
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col">
        <div class="row col p-3 m-3 rounded-3" style="background-color: #f0f0f3">
          <div >
            <h5>Items in your cart ({{getItemsCount()}})</h5>
          </div>
          <div *ngFor="let item of cart.items" class="mb-3">
            <div class="wea5-cart-entry" (deleteItemEvent)="removeItem($event)" (amountChanged)="amountChanged($event.productId, $event.amount)" [cartId]="cart.id" [id]="item.id" [name]="item.product.name"
                 [productId]="item.product.id" [amount]="item.amount" [price]="item.product.price" [totalItemPrice]="item.totalPrice" >
            </div>
            <hr>
          </div>

          <div class="mt-2">
            <h2>Coupons</h2>
            <div *ngFor="let coupon of cart.coupons" class="table-responsive">
              <table class="table shopping-cart-table">
                <tbody>
                <tr>
                  <td class="align-middle w-50">
                    <h3 class="text-info-emphasis">
                      Code: {{coupon.code}}
                    </h3>
                  </td>

                  <td class="align-middle w-25">
                    <button (click)="removeCoupon(coupon?.code)" type="button" class="btn btn-link text-navy">Remove coupon</button>
                  </td>

                  <td class="align-middle w-25">
                  <h4>
                    {{coupon.value | currency:'EUR':"symbol"}}
                  </h4>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

            <table class="table shopping-cart-table">
              <tbody>
              <tr>
                <td class="align-middle w-75">
                  <div class="form-outline flex-fill">
                    <input #couponInput type="text" class="form-control" placeholder="Discount code"/>
                  </div>
                </td>

                <td class="align-middle w-25">
                    <button class="btn btn-primary" (click)="applyCoupon(couponInput.value)">Apply</button>
                </td>
              </tr>

              <tr>
                <div>
                  <button (click)="navigateToCheckout()" class="btn btn-primary"><i class="fa fa fa-shopping-cart"></i> Checkout</button>
                </div>
              </tr>

              </tbody>
            </table>
          </div>

        </div>

      </div>
      <div class="row col-3 p-3 m-3 rounded-3" style="background-color: #f0f0f3">
        <div>
          <div>
            <h5>Cart Summary</h5>
          </div>
          <div>
                    <span>
                        Total
                    </span>
            <h2 class="font-bold">
              {{cart.totalPrice | currency:'EUR':"symbol"}}
            </h2>

            <hr>
            <div class="m-t-sm">
              <div class="btn-group">
                <a (click)="navigateToCheckout()" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> Checkout</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<wea5-footer></wea5-footer>

</div>
