<wea5-search (searchTriggered)="updateList($event)"></wea5-search>

<div class="row justify-content-center">
  <div class="">
    <table class="table table-striped bg-body table-responsive mt-3 rounded-2" *ngIf="pagedResult != undefined" >
      <thead>
      </thead>
      <tbody>
      <tr class="" *ngFor="let item of pagedResult.items">
        <th class=" ">
          <img src="https://picsum.photos/100" alt="placeholder image">
        </th>
        <td class="">
          <div>
            <a href="#" class="text-navy">
              {{item.name}}
            </a>
          </div>
          <div>
            <h4>
              {{item.price}}
            </h4>
          </div>
        </td>
        <td class="">
          <div>
            <button class="btn btn-primary"><i class="fa fa fa-shopping-cart"></i> Add to Cart</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
