
<div  class="bg-white rounded-3 p-3 mb-5">
<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 20rem;">
        <img src="assets/screen.jpg" class="card-img-top" alt="screen">
        <div class="card-body">
          <h5 class="card-title">{{'home.card1title' | translate}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="/home" href="#" class="btn btn-primary">{{'home.browseSoftware' | translate}}</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
        <img src="assets/phone.jpg" class="card-img-top" alt="phone">
        <div class="card-body">
          <h5 class="card-title">{{'home.card2title' | translate}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="/home" href="#" class="btn btn-primary">{{'home.readNow' | translate}}</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
        <img src="assets/diagram.jpg" class="card-img-top" alt="diagram">
        <div class="card-body">
          <h5 class="card-title">{{'home.card3title' | translate}}</h5>
          <p class="card-text">Useful tools to create charts and diagrams</p>
          <a routerLink="/home" href="#" class="btn btn-primary">{{'home.browseSoftware' | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<wea5-footer></wea5-footer>
</div>
