<div class="container">
  <footer class="mt-5">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a routerLink="/home" href="#" class="nav-link px-2 text-muted">{{'footer.home' | translate}}</a></li>
      <li class="nav-item"><a routerLink="/home" href="#" class="nav-link px-2 text-muted">{{'footer.features' | translate}}</a></li>
      <li class="nav-item"><a routerLink="/home" href="#" class="nav-link px-2 text-muted">{{'footer.pricing' | translate}}</a></li>
      <li class="nav-item"><a routerLink="/home" href="#" class="nav-link px-2 text-muted">{{'footer.FAQs' | translate}}</a></li>
      <li class="nav-item"><a routerLink="/home" href="#" class="nav-link px-2 text-muted">{{'footer.about' | translate}}</a></li>
    </ul>
    <p class="text-center text-muted">© 2023</p>
  </footer>
</div>
